<%if @user_check.name != "" && @user_check.name != nil%>
   <span class="sr-only">Reticulating splines: 0%</span>
   <br />
   <div id= "pr1">
   <p id="text1">Partitioning hashtags</p>
<div class="progress">

  <div id="bar1" class="progress-bar progress-bar-success" role="progressbar" style="width: 0%">
  </div>
  </div>
  </div>
  <div id= "pr2">
  <p id="text2">Calculating average noun sentiment</p>
  <div class="progress">

  <div id="bar2" class="progress-bar progress-bar-info" role="progressbar" style="width: 0%">
  </div>
</div>
</div>


   <div id= "pr3">
   <p id="text3">Reticulating splines</p>
<div class="progress">

  <div id="bar3" class="progress-bar progress-bar-danger" role="progressbar" style="width: 0%">
  </div>
  </div>
  </div>

     <div id= "pr4">
   <p id="text4">Deriving cultural reference points</p>
<div class="progress">

  <div id="bar4" class="progress-bar progress-bar-warning" role="progressbar" style="width: 0%">
  </div>
  </div>
  </div>


  <div id="result">
  <%if @user_check.score < 50 %>
    <h2>Unlikely.</h2>
    <p>
    There is a less than
  <% elsif @user_check.name == "edjeff"%>
    <h2>I mean, obviously.</h2>
    <p>
    There is a 
    <% elsif @user_check.score == "0.0"%>
    <h2>Definitely not.</h2>
    <p>
    There is a 
  <% else %>
    <h2>Probably.</h2>
    <p>
    There is a 
  <% end %>
  <%= @user_check.score.gsub(".0","") %>% chance that <a href="http://www.twitter.com/<%= @user_check.name %>">@<%= @user_check.name %></a> is <a href="http://www.twitter.com/edjeff/">@edjeff</a>.</p>

  <br />
  <div id="legal" class="text-left"><small>
  <strong>Legal disclaimer:</strong> The @edjeff Twitter account detector is provided for entertainment purposes only and may not represent reality, or anything close to it. Your @edjeff may be at risk if you do not keep up payments on your @edjeff.</small>
  </div>
<% end %>
