// Place all the styles related to the UserChecks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.namebox
{
width: 10em;
}

.progress {
  
    height: 25px;
    
  }

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 500px; /* or 950px */
}

#legal {
  
  color: grey;
}