// Place all the styles related to the UserChecks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.namebox
{
width: 10em;
}
.ui-progressbar {
    position: relative;
    width: 10em;
  }
.progress-label {
  position: absolute;
  top: 4px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
  text-align:center;
}
