// Place all the styles related to the UserChecks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.namebox
{
width: 10em;
}

.progress {
    position: relative;
    height: 25px;
    width: 60%;
    left: 20%;
  }