<!DOCTYPE html>
<html>
<head>
  <title>Is it @edjeff?</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
</head>
<body>
<div class="row-fluid">

 <div class="span12 text-center">

<%= yield %>
  </div>
  </div>
</body>
</html>
